---
layout: default
title: Events
dates:
  - id: sunday
    name: Sunday, November 16th
  - id: monday
    name: Monday, November 17th
  - id: tuesday
    name: Tuesday, November 18th
  - id: wednesday
    name: Wednesday, November 19th
  - id: thursday
    name: Thursday, November 20th
  - id: friday
    name: Friday, November 21st
  - id: saturday
    name: Saturday, November 22nd
---

<div class='fill-blue dark center'>
  <div class='fill-darken3 pad2y'>
    <div class='limiter'>
      <h1>Events</h1>
    </div>
  </div>
</div>

<div class='pad4y'>
  <div class='prose limiter pad2'>
    <p>
      Find an event near you. Let us know if you are planning an event!
    </p>
  </div>

  {% for date in page.dates %}
  <div class='pad2y {% unless forloop.index == 1 %}keyline-top{% endunless %}'>
    <div class='limiter'>
      <div class='col12 quiet space-bottom1'>
        <h3 class='col11 pad2x'>
          {{date.name}}
        </h3>
      </div>
      <div class='col12 pad1y'>
        {% for item in site.tags[date.id] order:ascending %}
          <div class='col12 clearfix'>
            <div class='col12 pad2x'>
              <div class='headline clearfix space-bottom1'>
                <h3 class='col8'><a href='{{item.permalink}}'>{{item.title}}</a></h3>
                <span class='col4 text-right quiet'>{{item.location}}</span>
                <span class='space-bottom1 inline'>
                {{item.time}}
              </span>
              </div>
              <div class='prose schedule space-bottom2'>
                {{item.content}}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
